#conteudo-page {
  width: 100%;
  height: auto;
  float: left;
  margin: 0 0 0 0;

  #conteudo-page-int {
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
  }
}

// lightbox scroll
#lt-scroll {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  padding: 50px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99999999999;
  overflow: hidden;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

#lt-scroll-int {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
}

#container-scroll-lt {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

#container-scroll-lt .swiper-wrapper {
  height: auto;
  min-height: 100%;
}

#container-scroll-lt .swiper-slide {
  height: auto;
  min-height: 100%;
}

#container-scroll-lt .swiper-scrollbar {
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
}

#container-scroll-lt .swiper-scrollbar-drag {
  background: #FFF;
}

#container-scroll-lt .swiper-scrollbar-drag:hover {
  background: #FF7F00;
}

#content-scroll-lt {
  width: 100%;
  height: auto;
  min-height: 100%;
  float: left;
  margin: 0;
}

@media (max-width: 960px) {

  #lt-scroll {
    padding: 0;
  }

  #content-scroll-lt {
    padding: 50px;
  }

}

@media (max-width: 480px) {

  #content-scroll-lt {
    padding: 50px 15px;
  }
}

/*LIGHTBOX*/
#lt {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
}

#lt_int {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3030;
  padding: 30px;
  display: none;
}

#area_container_lt {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  overflow: hidden;
}

#top-lt {
  width: 100%;
  height: 60px;
  float: left;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#top-lt i {
  width: 14px;
  height: 60px;
  float: left;
  margin: 0 5px 0 20px;
}

#top-lt i svg {
  width: 10px;
  height: 10px;
  float: left;
  margin: 26px 0 0 0;
}

#top-lt i polygon {
  fill: #FFF;
}

#top-lt h5 {
  width: auto;
  height: 60px;
  float: left;
  padding: 0;
  font-size: 20px;
  line-height: 60px;
  font-weight: 300;
  text-align: left;
  color: #FFF;
}

#top-lt a {
  width: 18px;
  height: 18px;
  float: right;
  margin: 20px 20px 0 0;
}

#top-lt a:hover {
  opacity: .5;
}

#top-lt a.close {
  background: url(../imgs/close.png) no-repeat;
}

#top-lt a.down {
  background: url(../imgs/down.png) no-repeat;
}

#top-lt a.maximizar {
  background: url(../imgs/max.png) no-repeat;
}

#top-lt a.minimizar {
  background: url(../imgs/min.png) no-repeat !important;
}

#slider_lt {
  width: 100%;
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: calc(100% - 100px);
  float: left;
  margin: 0 0 0 0;
  background: #000;
}

#slider_lt li {
  width: 100%;
  height: auto;
  min-height: 28px;
  float: left;
  margin: 0;
}

#slider_lt li div {
  width: 100%;
  height: 100%;
}

#slider_lt li img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  float: left;
  margin: 0;
}

#navs-slider-lt {
  width: 100%;
  height: 0px;
  float: left;
  margin: -60px 0 0 0;
  top: 50%;
  left: 0;
  padding: 0 200px;
  position: fixed;
  z-index: 1000;
}

#navs-slider-lt div {
  width: 100%;
  height: auto;
  float: left;
  margin: 0;
}

#navs-slider-lt div a {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0;
}

#navs-slider-lt div a:last-child {
  float: right;
  -webkit-transform: rotatez(180deg);
  -moz-transform: rotatez(180deg);
  -ms-transform: rotatez(180deg);
  -o-transform: rotatez(180deg);
  transform: rotatez(180deg);
}

#navs-slider-lt div a svg {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0;
}

#navs-slider-lt div a polygon {
  fill: #FFF;
}

#navs-slider-lt div a.swiper-button-disabled {
  opacity: 0.2 !important;
  cursor: default;
}

#navs-slider-lt div a:hover {
  opacity: .7;
}

#area-controls-lt {
  width: 100%;
  height: 90px;
  float: left;
  margin: 0;
  position: fixed;
  bottom: 0;
  background: #000;
}

#area-controls-lt .fluid {
  max-width: 990px;
}

#slider_min {
  width: 100%;
  height: 70px;
  float: left;
  margin: 10px 0 0 0;
}

#slider_min li {
  width: -webkit-calc(100% + 10px);
  width: -moz-calc(100% + 10px);
  width: calc(100% + 10px);
  height: 70px;
  float: left;
  margin: 0 0 0 0;
}

#slider_min li a {
  width: -webkit-calc((100% / 9) - 10px);
  width: -moz-calc((100% / 9) - 10px);
  width: calc((100% / 9) - 10px);
  height: 70px;
  float: left;
  margin: 0 5px;
  opacity: 0.4;
  cursor: pointer;
}

#slider_min li a img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  float: left;
  margin: 0 0 0 0;
}

#slider_min li a.ativo {
  opacity: 1 !important;
}

#navs-slider-lt-min {
  width: -webkit-calc(100% + 160px);
  width: -moz-calc(100% + 160px);
  width: calc(100% + 160px);
  height: 0;
  float: left;
  margin: -49px 0 0 -80px;
  position: relative;
  z-index: 100;
}

#navs-slider-lt-min a {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0;
}

#navs-slider-lt-min a:last-child {
  float: right;
  -webkit-transform: rotatez(180deg);
  -moz-transform: rotatez(180deg);
  -ms-transform: rotatez(180deg);
  -o-transform: rotatez(180deg);
  transform: rotatez(180deg);
}

#navs-slider-lt-min a svg {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0;
}

#navs-slider-lt-min a.swiper-button-disabled {
  opacity: 0.2 !important;
  cursor: default;
}

#navs-slider-lt-min a polygon {
  fill: #FFF;
}

#navs-slider-lt-min a:hover {
  opacity: .7;
}

#load {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;
  display: none;
}

#load span {
  width: 0;
  height: 5px;
  float: left;
  margin: 0;
  background: #333;
}

#load div {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

@media (max-width: 1190px) {

  #navs-slider-lt div a,
  #navs-slider-lt div a svg,
  #navs-slider-lt-min a,
  #navs-slider-lt-min a svg {
    width: 25px;
    height: 25px;
  }

  #navs-slider-lt {
    padding: 0 50px;
  }

  #area-slider-lt-min {
    height: 75px;
    margin-top: -75px;
  }

  #navs-slider-lt-min {
    width: -webkit-calc(100% + 120px);
    width: -moz-calc(100% + 120px);
    width: calc(100% + 120px);
    margin: -48px 0 0 -60px;
  }

  #area-controls-lt .fluid {
    max-width: 800px;
  }

}

@media (max-width: 960px) {

  #area-slider-lt {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }

  #area-controls-lt,
  #navs-slider-lt {
    display: none;
  }

  #top-lt a.maximizar {
    display: none;
  }

  #top-lt a {
    width: 42px;
    height: 42px;
    background-position: right top !important;
  }

}

@media (max-width: 560px) {

  #top-lt {
    height: 0;
  }

  #top-lt i {
    display: none;
  }

  #top-lt h5 {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0 0 -20px 0;
    text-align: center;
    font-size: 14px;
    line-height: 42px;
    background: rgba(0, 0, 0, .5);
  }

}

// load

#load {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;
  display: none;
}

#load span {
  width: 0;
  height: 5px;
  float: left;
  margin: 0;
  background: #333;
}

#load div {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

// lightbox video
#video-lt {
  @include mp-width(100%, 100%);
  position: absolute;
  @include centralizar;

  padding: 120px 80px 80px 80px;
  .video-int {
    @include mp-width();
  }
}

@media (max-width: 967px) {
  #video-lt {
    padding: 40px 15px;
    .video-int {
      @include mp-width();
    }
  }
}
